{% extends 'doctor/nav.html' %}

{% block content %}
{% if request.user.is_authenticated %}


<style>
    @import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
body {
background: #4B79A1;
background: -webkit-linear-gradient(to left, #4B79A1 , #283E51);
background: linear-gradient(to left, #4B79A1 , #283E51);        
}
h1 {
  text-align: center;
  font-size: 2.4em;
  color: #f2f2f2;
}
.container {
  display: block;
  text-align: center;
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}

/*
    Don't look at this last part. It's unnecessary. I was just playing with pixel gradients... Don't judge.
*/
/*
@media screen and (max-width: 601px) {
  .rwd-table tr {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
  }
  .rwd-table tr:nth-child(odd) {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
  }
}*/
</style>
<div class="card text-white bg-dark mb-3" style="max-width: 540px;margin: 0 auto;">
    <div class="row g-0">
        <div class="col-md-4">
            <br> <br>
            <img src="{{request.user.profile_picture.url}}" class="img-fluid rounded-start" alt="user profile_picture">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Username</h5>
                <p class="card-text">{{request.user.first_name}} {{ request.user.last_name }}</p>
            </div>
        </div>
    </div>
</div>
{% comment %} <table class="table table-success  table-striped">
    <thead>
        <tr>
            <th scope="col">Field</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Username</th>
            <td>{{ request.user.username }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ request.user.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ request.user.last_name }}</td>

        </tr>
        <tr>
            <th>Email</th>
            <td>{{ request.user.email }}</td>

        </tr>
        <tr>
            <th>Adderess</th>
            <td>{{ request.user.line }}</td>

        </tr>
        <tr>
            <th>City</th>
            <td>{{ request.user.city }}</td>

        </tr>
        <tr>
            <th>State</th>
            <td>{{ request.user.state }}</td>
        </tr>
        <tr>
            <th>Pincode</th>
            <td>{{ request.user.pincode }}</td>

        </tr>
    </tbody>
</table> {% endcomment %}

<div class="container" style="display:inline">
    
      <table class="rwd-table">
        <tbody>
          <tr>
            <th>Information</th>
            <th>Value</th>
            
          </tr>
          <tr>
            <td data-th="Supplier Code">
              Email
            </td>
            <td data-th="Supplier Name">
              {{request.user.email}}
            </td>
        </tr>
        <tr>
            <td data-th="Supplier Code">
              Username
            </td>
            <td data-th="Supplier Name">
              {{request.user.username}}
            </td>
        </tr>

        <tr>
            <td data-th="Supplier Code">
              Pincode
            </td>
            <td data-th="Supplier Name">
              {{request.user.pincode}}
            </td>
        </tr>

        <tr>
            <td data-th="Supplier Code">
              State
            </td>
            <td data-th="Supplier Name">
              {{request.user.state}}
            </td>
        </tr>

        <tr>
            <td data-th="Supplier Code">
              City
            </td>
            <td data-th="Supplier Name">
              {{request.user.city}}
            </td>
        </tr>
        </tbody>
      </table>
      
    </div>
{% else %}
<h1>Looks like you are not logged in</h1>
<a href="{% url 'login' %}">
    <button class="btn btn-success">Login Here</button>
</a>
<h1>Create a new Account</h1>
<a href="{% url 'signup' %}">
    <button class="btn btn-warning">Sign Up</button>
</a>

{% endif %}

{% endblock content %}